body {
    padding-top: 25px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 25px;
    font-family: Verdana, Geneva, sans-serif;
    background-color: #FEFEFE;
}

header {
    text-align: center;
    border-bottom: 1px solid #081E3F;
}

h1 {
    color: #081E3F;
}

h3 {
    color: #B6862C;
}

code {
    color: #FF0000;
    font-family: monospace;
    font-style: italic;
}

.section {
    color: #416CBD;
}

.bookStyle {
    text-align: justify;
    hyphens: auto;
}

.rightAligned {
    text-align: right;
}

.centerAligned {
    text-align: center;
}

.tableFormat {
    border-spacing: 15px 5px;
    padding-top: 15px;
}

.audioBlock {
    margin-top: 15px;
    margin-bottom: 15px;
}

.codeBlock {
    border-radius: 15px;
    background-color: #FFFFFF;
    border: 2px solid #000000;
    font-family: monospace;
    padding: 25px;
}

footer {
    margin-top: 25px;
    text-align: center;
    color: #BBBBBB;
}